@import "~antd/dist/antd.css";

html,
body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.ant-spin-nested-loading {
  width: 100%;
}
ul.ant-card-actions li > span {
  text-align: left;
  display: inline;
  cursor: default;
}
ul.ant-card-actions li {
  text-align: left;
}
